body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

header {
    background-color: #FFA500; /* orange */
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

main {
    padding: 20px;
}

#songs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.song {
    background-color: #4CAF50; /* green */
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

.song img {
    max-width: 100%;
    border-radius: 5px;
}

.song h3 {
    margin-top: 10px;
}
